*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main_app_Deshbord_foodordering{
    width: 100%;
     display: flex;
     
}
.Right_side_main_container{
    width: 80%;
    position: absolute;
    left: 20%;
    height: 100vh;
    background-color: #eee;
}
